<a href="https://colab.research.google.com/github/hrh2000/CMM560/blob/main/CMM560_data_loading_tutorial(Github(hhrepo)).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this version, by simply running the following cell you get all the data you need!

In [ ]:
#!git clone https://github.com/hrh2000/CMM560

Cloning into 'CMM560_Data_Loading_Tutorial'...
remote: Enumerating objects: 26, done.
remote: Counting objects: 100% (26/26), done.
remote: Compressing objects: 100% (23/23), done.
remote: Total 26 (delta 6), reused 12 (delta 1), pack-reused 0
Unpacking objects: 100% (26/26), 758.09 KiB | 4.77 MiB/s, done.

# Version 1: Converting your image repository into numpy arrays

In [5]:
import os
import numpy as np
import cv2
resize_width = 100
resize_height = 100
#path = '/content/CMM560_Data_Loading_Tutorial/data' # THIS IS APPLICABLE FOR EVERYONE! NO NEED TO CHANGE
path = '/content/CMM560/data' # HH repo data
resized_images = [] # List to append the images as 2D numpy arrays.
target = [] # List to append the target
flattened_images = [] # list to append the flattened pixels

for root, dirs, files in os.walk(path):
     for file in files:
        with open(os.path.join(root, file), "r") as auto:
            try:
                img = cv2.imread(root+'/'+file, 0)
                img = cv2.resize(img, (resize_width, resize_height)) 
                # Append the resized image to a list
                resized_images.append(img)
                # Append the flattened image to a list
                flattened_images.append(img.flatten())
                # Append the folder where the image is to the target list
                target.append(root.replace(path,'').replace('\\','').replace('/',''))
            except Exception as e:
                print("Invalid file "+file+" skipped.")
# Convert the list into numpy array
flattened_images = np.array(flattened_images) 
print(flattened_images)
print(flattened_images.shape)
print(target)
print(len(target))

[]
(0,)
[]
0

# Version 2: Converting your image repository into Pandas data frames

In [ ]:
import os
import numpy as np
import cv2
from pandas import DataFrame

resize_width = 25
resize_height = 25
#path = '/content/CMM560_Data_Loading_Tutorial/data' # THIS IS APPLICABLE FOR EVERYONE! NO NEED TO CHANGE
path = '/content/CMM560/data' # HH repo data
resized_images = [] # List to append the images as 2D numpy arrays.
target = [] # List to append the target

cont = 0
for root, dirs, files in os.walk(path):
     for file in files:
        with open(os.path.join(root, file), "r") as auto:
            try:
                img = cv2.imread(root+'/'+file, 0)
                img = cv2.resize(img, (resize_width, resize_height)) 
                # Append the resized image to a list
                resized_images.append(img)
                # Append the flattened image to the list
                if cont == 0:
                    flattened_images = img.flatten().copy()
                    cont+=1
                else:
                    flattened_images = np.vstack((flattened_images,img.flatten()))
                # Append the folder where the image is to the target list
                target.append(root.replace(path,'').replace('\\','').replace('/',''))
            except Exception as e:
                print("Invalid file "+file+" skipped.")
# Convert the list into a pandas dataframe
flattened_images_withtarget = DataFrame(flattened_images) 
flattened_images_withtarget = abs(flattened_images_withtarget)
flattened_images_withtarget['class']=DataFrame(target)
flattened_images_withtarget

,0,1,2,3,4,5,6,7,8,9,...,616,617,618,619,620,621,622,623,624,class
0,206,155,149,153,153,153,151,153,152,153,...,147,153,142,149,148,146,146,146,146,nomask
1,12,20,8,10,17,9,10,13,14,14,...,7,8,8,4,9,8,10,9,145,nomask
2,190,192,190,192,192,190,193,192,198,146,...,25,39,71,79,67,52,45,44,41,mask
3,63,83,49,108,188,11,28,109,49,126,...,120,101,133,179,178,136,127,117,128,mask
4,97,95,92,160,153,78,165,198,118,96,...,190,191,187,178,176,181,185,181,182,mask
5,137,40,80,92,161,123,135,128,194,72,...,19,19,118,15,18,15,30,24,12,mask

Warning: Total number of columns (626) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
print("flattened_images_withtarget.head(1): ",flattened_images_withtarget.head(1))
print("flattened_images_withtarget.tail: ",flattened_images_withtarget.tail)

flattened_images_withtarget.head:       0    1    2    3    4    5    6    7    8    9  ...  616  617  618  619  \
0  206  155  149  153  153  153  151  153  152  153  ...  147  153  142  149

   620  621  622  623  624   class
0  148  146  146  146  146  nomask

[1 rows x 626 columns]
flattened_images_withtarget.tail:  <bound method NDFrame.tail of      0    1    2    3    4    5    6    7    8    9  ...  616  617  618  619  \
0  206  155  149  153  153  153  151  153  152  153  ...  147  153  142  149
1   12   20    8   10   17    9   10   13   14   14  ...    7    8    8    4
2  190  192  190  192  192  190  193  192  198  146  ...   25   39   71   79
3   63   83   49  108  188   11   28  109   49  126  ...  120  101  133  179
4   97   95   92  160  153   78  165  198  118   96  ...  190  191  187  178
5  137   40   80   92  161  123  135  128  194   72  ...   19   19  118   15

   620  621  622  623  624   class
0  148  146  146  146  146  nomask
1    9    8   10    9  145  nomask
2   67   52   45   44   41    mask
3  178  136  127  117  128    mask
4  176  181  185  181  182    mask
5   18   15   30   24   12    mask

[6 rows x 626 columns]>

In [ ]:
print("flattened_images_withtarget[dataframe rows 0:3(4) and cols 0:4(5)]: ",'\n',flattened_images_withtarget.loc[0:3,0:4])

flattened_images_withtarget[dataframe rows 0:3(4) and cols 0:4(5)]:
      0    1    2    3    4
0  206  155  149  153  153
1   12   20    8   10   17
2  190  192  190  192  192
3   63   83   49  108  188

It is up to you to use the one you like the most!